<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Cambiar Contraseña</title>
    <link href="https://fonts.googleapis.com/css2?family=Freeman&display=swap" rel="stylesheet">
</head>
<body style="background-color: #32412c;">
    <nav th:replace="~{layout::menu}"></nav>
    <div class="p-5">
        <div class="p-5 border border-1 border-black rounded container col-5" style="background-color: #ffffff;">
            <h3 class="text-center" style="font-family: 'Freeman'; font-size: 48px;">Cambiar Contraseña</h3>
            <hr />
            <form th:action="@{/auth/cambiarPassword}" method="post">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Contraseña" autocomplete="off">
                    <label for="password1">Introducir la nueva contraseña</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Contraseña" autocomplete="off">
                    <label for="password2">Volver a introducir la nueva contraseña</label>
                </div>
                <div class="mb-3 d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark" style="width: 200px; padding: 10px;">Procesar</button>
                </div>
            </form>
            <div th:if="${param.error}" class="alert alert-danger text-center" role="alert">
                Las contraseñas ingresadas no coinciden
            </div>
            <div th:if="${param.success}" class="alert alert-success text-center" role="alert">
                Contraseña cambiada con éxito
            </div>
        </div>
    </div>
</body>
</html>