<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="~{layout::momentjs}"></th:block>
<th:block th:replace="~{layout::sweetalert2}"></th:block>
<script th:src="@{/js/web/backoffice/proyecto/generarproyecto.js}"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="card">
    <div class="card-header text-bg-danger">
        Proyectos de Digitalización:
    </div>
    <div class="card-body">
        <a class="btn btn-success" th:href="@{/proyecto/nuevo}">
            <i class="bi bi-plus-circle"></i> Nuevo Proyecto
        </a>
        <hr />
        <table id="tblproyecto" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Fecha de Inicio</th>
                    <th scope="col">Estado</th>
                    <th scope="col" class="text-center">Detalles</th>
                    <th scope="col" class="text-center">Cancelar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="proyecto : ${listaProyectos}">
                    <td th:text="${proyecto.proyectoid}"></td>
                    <td th:text="${proyecto.empresa.nomempresa}"></td>
                    <td th:text="${#dates.format(proyecto.fecinicio, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${proyecto.estado == 'E' ? 'En Proceso' : proyecto.estado == 'C' ? 'Cancelado' : 'Finalizado' }"></td>
                    <td class="text-center">
                        <button type="submit" class="btn btn-success btndetalless"
                                th:data-proyid="${proyecto.proyectoid}">
                            <i class="bi bi-file-earmark-richtext"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button type="submit"
                                th:disabled="${proyecto.estado == 'C' || proyecto.estado == 'F'}"
                                th:class="${proyecto.estado == 'C' || proyecto.estado == 'F' ? 'btn btn-secondary' : 'btn btn-danger btncancelar'}"
                                th:data-proyid="${proyecto.proyectoid}">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>