<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="~{layout::momentjs}"></th:block>
<th:block th:replace="~{layout::sweetalert2}"></th:block>
<th:block th:replace="~{layout::sweetalert2-personalizado}"></th:block>
<script th:src="@{/js/web/backoffice/proyecto/generarproyecto.js}"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="container col-lg-8 col-md-10 col-sm-12 mt-5 mb-5">
    <div class="card">
        <div class="card-header text-bg-danger">
            Proyectos de Digitalización:
        </div>
        <div class="card-body">
            <a class="btn btn-success" th:href="@{/proyecto/nuevo}">
                <i class="bi bi-plus-circle"></i> Nuevo Proyecto
            </a>
            <hr />
            <table id="tblproyecto" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Empresa</th>
                        <th scope="col">Fecha de Inicio</th>
                        <th scope="col">Estado</th>
                        <th scope="col" class="text-center">Detalles</th>
                        <th scope="col" class="text-center">Cancelar</th>
                        <th scope="col" class="text-center">Finalizar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="proyecto : ${listaProyectos}">
                        <td th:text="${proyecto.empresa.nomempresa}"></td>
                        <td th:text="${#dates.format(proyecto.fecinicio, 'yyyy-MM-dd')}"></td>
                        <td th:text="${proyecto.estado == 'E' ? 'En Proceso' : proyecto.estado == 'C' ? 'Cancelado' : 'Finalizado' }"></td>
                        <td class="text-center">
                            <button type="button" class="btn btn-success btndetalles"
                                    th:data-proyid="${proyecto.proyectoid}">
                                <i class="bi bi-file-earmark-richtext"></i>
                            </button>
                        </td>
                        <td class="text-center">
                            <button type="button"
                                    th:disabled="${proyecto.estado == 'C' || proyecto.estado == 'F'}"
                                    th:class="${proyecto.estado == 'C' || proyecto.estado == 'F' ? 'btn btn-secondary' : 'btn btn-danger btncancelar'}"
                                    th:data-proyid="${proyecto.proyectoid}">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </td>
                        <td class="text-center">
                            <button type="button"
                                    th:disabled="${proyecto.estado == 'C' || proyecto.estado == 'F'}"
                                    th:class="${proyecto.estado == 'C' || proyecto.estado == 'F' ? 'btn btn-secondary' : 'btn btn-success btnfinalizar'}"
                                    th:data-proyid="${proyecto.proyectoid}">
                                <i class="bi bi-flag"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li th:class="${nropag == 1 ? 'page-item disabled' : 'page-item'}">
                            <a class="page-link" th:href="@{'/proyecto?nropag=' + ${nropag - 1}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:if="${nropag > 1}">
                            <a class="page-link" th:href="@{/proyecto=nropag=1}">1</a>
                        </li>
                        <li class="page-item" th:if="${nropag > 4}">
                            <a class="page-link">...</a>
                        </li>
                        <li class="page-item" th:if="${nropag > 3}">
                            <a class="page-link" th:href="@{'/proyecto?nropag=' + ${nropag - 2}}" th:text="${nropag - 2}"></a>
                        </li>
                        <li class="page-item" th:if="${nropag > 2}">
                            <a class="page-link" th:href="@{'/proyecto?nropag=' + ${nropag - 1}}" th:text="${nropag - 1}"></a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" th:href="@{'/proyecto?nropag=' + ${nropag}}" th:text="${nropag}"></a>
                        </li>
                        <li class="page-item" th:if="${nropag < nropaginas - 1}">
                            <a class="page-link" th:href="@{'/proyecto?nropag=' + ${nropag + 1}}" th:text="${nropag + 1}"></a>
                        </li>
                        <li class="page-item" th:if="${nropag < nropaginas - 2}">
                            <a class="page-link" th:href="@{'/proyecto?nropag=' + ${nropag + 2}}" th:text="${nropag + 2}"></a>
                        </li>
                        <li class="page-item" th:if="${nropag < nropaginas - 3}">
                            <a class="page-link">...</a>
                        </li>
                        <li class="page-item" th:if="${nropag < nropaginas}">
                            <a class="page-link" th:href="@{'/proyecto?nropag=' + ${nropaginas}}" th:text="${nropaginas}"></a>
                        </li>
                        <li th:class="${nropag == nropaginas ? 'page-item disabled' : 'page-item'}">
                            <a class="page-link" th:href="@{'/proyecto?nropag=' + ${nropag + 1}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="d-flex justify-content-center">
                <form th:action="@{/proyecto}" method="get">
                    <div class="form-floating mb-3">
                        <input style="width: 60px;" type="number" name="nropag"
                               autocomplete="off" aria-describedby="btnbuscarpag" min="-1" th:max="${nropaginas}">
                        <button style="margin-bottom: 4px;" type="submit" class="btn btn-primary btn-sm" id="btnbuscarpag">
                            <i class="bi bi-arrow-right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalproyecto" tabindex="-1" aria-labelledby="proyectoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="proyectoModalLabel">Detalles Proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="txtempresa"
                           placeholder="Empresa" readonly>
                    <label for="txtempresa">Empresa</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="txtfecinicio"
                           placeholder="Fecha de Inicio" readonly>
                    <label for="txtfecinicio">Fecha de Inicio</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="txtfecfin"
                           placeholder="Fecha de Fin" readonly>
                    <label for="txtfecfin">Fecha de Fin</label>
                </div>
                <hr />
                <table id="tblplanos" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Plano</th>
                            <th scope="col">Empleado Asignado</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <hr />
                <div id="divenproceso" class="alert alert-primary text-center" role="alert">
                    Proyecto en Proceso
                </div>
                <div id="divfinalizado" class="alert alert-success text-center" role="alert">
                    Proyecto Finalizado
                </div>
                <div id="divcancelado" class="alert alert-danger text-center" role="alert">
                    Proyecto Cancelado
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>