<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="~{layout::momentjs}"></th:block>
<th:block th:replace="~{layout::sweetalert2}"></th:block>
<script th:src="@{/js/web/backoffice/proyecto/generarproyecto.js}"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="card">
    <div class="card-header text-bg-danger">
        Proyectos de Digitalización:
    </div>
    <div class="card-body">
        <a class="btn btn-success" th:href="@{/proyecto/nuevo}">
            <i class="bi bi-plus-circle"></i> Nuevo Proyecto
        </a>
        <hr />
        <table id="tblproyecto" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Fecha de Inicio</th>
                    <th scope="col">Estado</th>
                    <th scope="col" class="text-center">Detalles</th>
                    <th scope="col" class="text-center">Cancelar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="proyecto : ${listaProyectos}">
                    <td th:text="${proyecto.proyectoid}"></td>
                    <td th:text="${proyecto.empresa.nomempresa}"></td>
                    <td th:text="${#dates.format(proyecto.fecinicio, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${proyecto.estado == 'E' ? 'En Proceso' : proyecto.estado == 'C' ? 'Cancelado' : 'Finalizado' }"></td>
                    <td class="text-center">
                        <button type="submit" class="btn btn-success btndetalles"
                                th:data-proyid="${proyecto.proyectoid}">
                            <i class="bi bi-file-earmark-richtext"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button type="submit"
                                th:disabled="${proyecto.estado == 'C' || proyecto.estado == 'F'}"
                                th:class="${proyecto.estado == 'C' || proyecto.estado == 'F' ? 'btn btn-secondary' : 'btn btn-danger btncancelar'}"
                                th:data-proyid="${proyecto.proyectoid}">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalproyecto" tabindex="-1" aria-labelledby="proyectoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="proyectoModalLabel">Detalles Proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="txtempresa"
                           placeholder="Empresa" readonly>
                    <label for="txtempresa">Empresa</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="txtfecinicio"
                           placeholder="Fecha de Inicio" readonly>
                    <label for="txtfecinicio">Fecha de Inicio</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="txtfecfin"
                           placeholder="Fecha de Fin" readonly>
                    <label for="txtfecfin">Fecha de Fin</label>
                </div>
                <hr />
                <h3>Planos</h3>
                <table id="tblplanos" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Plano</th>
                            <th scope="col">Empleado Asignado</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <hr />
                <div id="divenproceso" class="alert alert-primary text-center" role="alert">
                    Proyecto en Proceso
                </div>
                <div id="divfinalizado" class="alert alert-success text-center" role="alert">
                    Proyecto Finalizado
                </div>
                <div id="divcancelado" class="alert alert-danger text-center" role="alert">
                    Proyecto Cancelado
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>