<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #32412c;">
<script th:replace="~{layout::sweetalert2}"></script>
<script th:src="@{/js/web/backoffice/proyecto/nuevoproyecto.js}" type="text/javascript"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="p-5">
    <div class="card">
        <div class="card-header text-bg-danger">
            <h5>Nuevo Proyecto</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 p-2">
                    <div class="border border-1 p-3 bg-light">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="txtfecinicio"
                                   placeholder="Fecha de Inicio" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                            <label for="txtfecinicio">Fecha de Inicio</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="cboempresa" aria-label="Floating label select example">
                                <option value="-1">Seleccionar opción</option>
                                <th:block th:each="empresa: ${listaEmpresas}">
                                    <option th:value="${empresa.empresaid}" th:text="${empresa.nomempresa}"></option>
                                </th:block>
                            </select>
                            <label for="cboempresa">Empresa</label>
                        </div>
                    </div>
                    <div class="border border-1 mt-3 p-3 bg-light">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="cbodepartamento" aria-label="Floating label select example">
                                <option value="-1">Seleccionar opción</option>
                                <th:block th:each="departamento: ${listaDepartamentos}">
                                    <option th:value="${departamento.departamentoid}" th:text="${departamento.nomdepa}"></option>
                                </th:block>
                            </select>
                            <label for="cbodepartamento">Departamento</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="cboprovincia" aria-label="Floating label select example" disabled>
                                <option value="-1">Seleccionar opción</option>
                            </select>
                            <label for="cboprovincia">Provincia</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="cbodistrito" aria-label="Floating label select example" disabled>
                                <option value="-1">Seleccionar opción</option>
                            </select>
                            <label for="cbodistrito">Distrito</label>
                        </div>
                    </div>
                </div>
                <div class="col-6 p-2" style="max-height: 470.200px">
                    <div style="height: 100%; max-height: 100%;" class="border border-1 p-3 bg-light">
                        <div id="divplanos" style="height: 50%; max-height: 209.800px;" class="d-flex justify-content-around flex-wrap overflow-y-scroll mb-5 bg-primary-subtle">

                        </div>
                        <div style="height: 50%;">
                            <div id="divnuevoplano" class="row">
                                <div class="col-8">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="txtplanoid"
                                               placeholder="Código" autocomplete="off">
                                        <label for="txtplanoid">Código de Plano</label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <button type="button"
                                            class="btn btn-primary btn-lg mt-1" id="btnagregarplano">
                                        <i class="bi bi-plus-circle"></i> Agregar Plano
                                    </button>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col text-center">
                                    <button style="width: 250px" type="button"
                                            class="btn btn-success btn-lg" id="btngenerar">
                                        <i class="bi bi-check"></i> Generar Proyecto
                                    </button>
                                </div>
                                <div class="col text-center">
                                    <a style="width: 250px" class="btn btn-danger btn-lg" th:href="@{/proyecto}">
                                        <i class="bi bi-arrow-left"></i> Regresar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>