<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #32412c;">
<th:block th:replace="~{layout::sweetalert2}"></th:block>
<th:block th:replace="~{layout::sweetalert2-personalizado}"></th:block>
<script th:src="@{/js/web/backoffice/provincia/viewprovincia.js}"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="container col-lg-6 col-md-8 col-sm-10 mt-5 mb-5">
    <div class="card">
        <div class="card-header text-bg-danger">
            Mantenimiento de Provincias:
        </div>
        <div class="card-body">
            <button id="btnnuevo" type="button" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Nueva Provincia
            </button>
            <hr />
            <table id="tblprovincia" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">Provincia</th>
                    <th scope="col">Departamento</th>
                    <th scope="col" class="text-center">Editar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="provincia : ${listaProvincias}">
                    <td th:text="${provincia.nomprov}"></td>
                    <td th:text="${provincia.departamento.nomdepa}"></td>
                    <td class="text-center">
                        <button type="button" class="btn btn-primary btneditar"
                                th:data-provid="${provincia.provinciaid}"
                                th:data-nomprov="${provincia.nomprov}"
                                th:data-depaid="${provincia.departamento.departamentoid}">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li th:class="${pagactual == 0 ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{'/provincia?np=' + ${pagactual - 1}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <th:block th:each="nropagina: ${#numbers.sequence(1, nropaginas)}">
                        <li th:class="${nropagina - 1 == pagactual ? 'page-item active' : 'page-item'}">
                            <a class="page-link" th:href="@{'/provincia?np=' + ${nropagina - 1}}" th:text="${nropagina}"></a>
                        </li>
                    </th:block>
                    <li th:class="${pagactual == nropaginas - 1 ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{'/provincia?np=' + ${pagactual + 1}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Modal registro y actualizacion de provincia-->
<div class="modal fade" id="modalprovincia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hddprovinciaid" value="0">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="txtnomprov"
                           placeholder="Nombre" autocomplete="off">
                    <label for="txtnomprov">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                    <select id="cbodepartamento" class="form-select" aria-label="Floating label select example">
                        <option value="1">Seleccionar opción</option>
                    </select>
                    <label for="cbodepartamento">Departamento</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnguardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>