<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="~{layout::sweetalert2}"></th:block>
<script th:src="@{/js/web/backoffice/provincia/viewprovincia.js}"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="card">
    <div class="card-header text-bg-danger">
        Mantenimiento de provincias:
    </div>
    <div class="card-body">
        <button id="btnnuevo" type="button" class="btn btn-primary">Nueva Provincia</button>
        <hr />
        <table id="tblprovincia" class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Provincia</th>
                <th scope="col">Departamento</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="provincia : ${listaProvincias}">
                <td th:text="${provincia.provinciaid}"></td>
                <td th:text="${provincia.nomprov}"></td>
                <td th:text="${provincia.departamento.nomdepa}"></td>
                <td>
                    <button type="button" class="btn btn-primary btneditar"
                            th:data-proviid="${provincia.provinciaid}"
                            th:data-nomprov="${provincia.nomprov}"
                            th:data-depaid="${provincia.departamento.departamentoid}"><i class="bi bi-pencil"></i></button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btneliminar" th:data-provid="${provincia.provinciaid}"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal registro y actualizacion de provincia-->
<div class="modal fade" id="modalprovincia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hddprovinciaid" value="0">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="txtnomprov"
                           placeholder="Nombre" autocomplete="off">
                    <label for="txtnomprov">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                    <select id="cbodepartamento" class="form-select" aria-label="Floating label select example">
                        <option value="1">Seleccionar opción</option>
                    </select>
                    <label for="cbodepartamento">Departamento</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnguardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>