<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="~{layout::sweetalert2}"></th:block>
<script th:src="@{/js/web/backoffice/empresa/viewempresa.js}" type="text/javascript"></script>
<nav th:replace="layout::menu"></nav>
<div class="card">
    <div class="card-header text-bg-danger">
        Mantenimiento de Empresas:
    </div>
    <div class="card-body">
        <button id="btnnuevo" type="button" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Nueva Empresa
        </button>
        <hr />
        <table id="tblempresa" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Empresa</th>
                    <th scope="col">RUC</th>
                    <th scope="col">Estado</th>
                    <th scope="col" class="text-center">Actualizar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="empresa : ${listaEmpresas}">
                    <td th:text="${empresa.nomempresa}"></td>
                    <td th:text="${empresa.ruc}"></td>
                    <td th:text="${empresa.activo ? 'Activa' : 'Inactiva'}"></td>
                    <td class="text-center">
                        <button type="button" class="btn btn-primary btneditar"
                                      th:data-empid="${empresa.empresaid}"
                                      th:data-empnom="${empresa.nomempresa}"
                                      th:data-empruc="${empresa.ruc}"
                                      th:data-empact="${empresa.activo}">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal registro y actualizacion de la empresa-->
<div class="modal fade" id="modalempresa" tabindex="-1" aria-labelledby="empresaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="empresaModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hddempresaid" value="0">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="txtnomempresa"
                           placeholder="Empresa" autocomplete="off">
                    <label for="txtnomempresa">Empresa</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="txtruc"
                           placeholder="RUC" autocomplete="off">
                    <label for="txtruc">RUC</label>
                </div>
                <div class="form-check form-switch" id="divestado">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchactivo">
                    <label class="form-check-label" for="switchactivo">Activo</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnguardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>