<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap/bootstrap-icons.css}" rel="stylesheet" />
    <script th:src="@{/js/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery/jquery.js}" type="text/javascript"></script>
</head>
<body>
<th:block th:fragment="sweetalert2">
    <link th:href="@{/css/sweetalert2/sweetalert2.css}" rel="stylesheet">
    <script th:src="@{/js/sweetalert2/sweetalert2.js}" type="text/javascript"></script>
</th:block>
<nav th:fragment="menu"
     class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">Cibertec</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/auth/dashboard}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mantenimientos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/usuario}">Usuarios</a></li>
                        <li><a class="dropdown-item" th:href="@{/plano}">Planos</a></li>
                        <li><a class="dropdown-item" th:href="@{/departamento}">Departamentos</a></li>
                        <li><a class="dropdown-item" th:href="@{/provincia}">Provincias</a></li>
                        <li><a class="dropdown-item" th:href="@{/distrito}">Distritos</a></li>
                        <li><a class="dropdown-item" th:href="@{/empresa}">Empresas</a></li>
                        <li><a class="dropdown-item" th:href="@{/empleado}">Empleados</a></li>
                        <li><hr class="dropdown-divider"></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Otros
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/proyecto}">Generar proyectos</a></li>
                        <li><a class="dropdown-item" th:href="@{/}">Asignacion de planos</a></li>
                        <li><hr class="dropdown-divider"></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${session.nombres}"></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/auth/cambiarPassword}">Cambiar Clave</a></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


</body>
</html>