<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layout::menu"></nav>

<div class="card">
    <div class="card-header text-bg-danger">
        Mantenimiento de departamentos:
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="departamento : ${departamento}">
                <td th:text="${departamento.departamentoid}"></td>
                <td th:text="${departamento.nomdepa}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>