<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layout::menu"></nav>

<div class="card">
    <div class="card-header text-bg-danger">
        Mantenimiento de departamentos:
    </div>
    <div class="card-body">
        <button id="btnagregar" type="button" class="btn btn-primary">Agregar</button>
        <hr />
        <div id="divmensaje"></div>
        <table id="tbldepartamento" class="table">
            <thead>
            <tr>
                <th scope="col" class="text-center">Id</th>
                <th scope="col" class="text-center">Nombre</th>
                <th scope="col" class="text-center" colspan="2">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="departamento : ${listaDepartamentos}">
                <td class="text-center" th:text="${departamento.departamentoid}"></td>
                <td class="text-center" th:text="${departamento.nomdepa}"></td>
                <td class="text-center">
                    <button style="width: 100px" type="button" class="btn btn-primary btneditar"
                        th:data-depaid="${departamento.departamentoid}">
                        Editar
                    </button>
                </td>
                <td class="text-center">
                    <button style="width: 100px" type="button" class="btn btn-danger btneliminar"
                        th:data-depaid="${departamento.departamentoid}">
                        Eliminar
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>